VITE_FEEDBACK_PROVIDER=google_form
VITE_GOOGLE_FORM_SUBMIT_URL=https://docs.google.com/forms/d/e/1FAIpQLSeHKye_kKR4TPv6zZ5sDjy7HaghBG6lqhU8ZmlI_KaA0i1tpA/formResponse
VITE_GOOGLE_FORM_ENTRY_TESTER_ID=615800120
VITE_GOOGLE_FORM_ENTRY_ISSUE_TYPE=2046109435
VITE_GOOGLE_FORM_ENTRY_COMMENT=544153105
VITE_GOOGLE_FORM_ENTRY_CONVERSATION=545535791
VITE_GOOGLE_FORM_ENTRY_DRAFT=1691909702
VITE_GOOGLE_FORM_ENTRY_REMINDERS=1142248890
VITE_GOOGLE_FORM_ENTRY_APP_VERSION=373003847
VITE_GOOGLE_FORM_ENTRY_BUILD_LABEL=2045062760
VITE_GOOGLE_FORM_ENTRY_PLATFORM=864707228
VITE_GOOGLE_FORM_ENTRY_USER_AGENT=502187853
VITE_GOOGLE_FORM_ENTRY_CREATED_AT=1117355301
